:root {
    --page-background-color: rgb(255, 255, 255);
    --background-gradient:linear-gradient(45deg, rgba(66, 183, 245,0.8), rgba(66, 245, 189,0.4));
    --navbar-color: rgb(96, 105, 102);
    --navbar-color-hover: rgb(54, 59, 57);
    --hover-color: rgb(133, 144, 140);
    --table-odd-row-color: rgb(209, 212, 211);
}

body{
    margin:0;
    background: var(--background-gradient);
    font-family: "Roboto", sans-serif;
}

.contents{
    padding: 10pt;
}

.center {
    margin: auto;
    padding: 5px;
    width: 40%;
}

.searchInput,
.searchTable {
    width: 100%;
    font-size: 1.2em;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 5;
}

.searchTable {
    overflow-x: auto;
    overflow-y: auto;
}

.searchTable table
{
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: 5px;
    min-width: 20px;
}

th
{
    border-bottom: 2px;
}

.searchTable table tr:nth-child(even) {
    background-color: var(--table-odd-row-color);
}

.searchTable table tr:hover {
    background-color: var(--hover-color);
}

th {
    background-color: var(--navbar-color);
    color: white;
}