<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>

</head>

<body>

    <p>
        <a href="/..">Powrót</a>
    </p>
    <h1>Logowanie</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <label>Login</label>
        <input name="username" maxlength="32" type="text" />
        <label>Hasło</label>
        <input name="password" maxlength="32" type="password" />
        <input name="login" value="Zaloguj" type="submit" />
    </form>
</body>

</html>