#extends "base.html"
#block title
Konto {{user.username}}
#endblock

#block contents
<h1>Konto</h1>
<p>Login: {{user.username}}</p>
<p>Typ konta: {{'admin' if user.isadmin else 'zwykłe'}}</p>
<br>
<a href="{{url_for('changePasswordPage')}}">Zmień hasło</a>

<br>
<form class="form" action="{{url_for('accountPage')}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <button type="submit">Dodaj</button>
</form>
<a href="{{url_for('uploadPage')}}">Pobierz</a>
#endblock