<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    {%block head%}{%endblock%}
</head>

<body>
    <ul class="navbar">
    <li class="float-left">
        <a href="{{url_for('indexPage')}}">Strona główna</a>
    </li>
    <li class="float-left">
        <a href="{{url_for('carSearchPage')}}">Wyszukiwanie</a>
    </li>
    <li class="float-right">
        <a href="{{url_for('loginPage')}}">Logowanie</a>
    </li>
    </ul>
    <div class="page">
        <div class="contents">
            {%block contents%}{%endblock%}
        </div>
    </div>
</body>

</html>