{%extends "base.html"%}
{%block title%}Wyszukiwanie samochodów{%endblock%}

{%block head%}
<script>
    window.addEventListener("load", () => updateTable(""))

    function updateTable(text) {
        console.info(text);
        json = JSON.stringify({ "query": text })
        fetch("{{url_for('carSearchPage')}}", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: json
        }).then((response) => response.text())
            .then((text) => {
                document.getElementById("carTable").innerHTML = text
            });
    }
</script>
{%endblock%}

{%block contents%}
<p>
    <a href="{{url_for('indexPage')}}">Powrót</a>
</p>
<h1>Wyszukiwanie samochodów</h1>
<br>
<div class="center">
    <input class="searchInput" oninput="updateTable(this.value)" placeholder="Nazwa samochodu" type="text" />
</div>
<br>
<div class="center">
    <div class="searchTable" id="carTable"></div>
</div>

{%endblock%}