<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia samochodów - wyszukiwanie</title>

    <script>
        function updateTable(text) {
            console.info(text);
            json = JSON.stringify({ "query" : text })
            fetch("{{url_for('carSearchPage')}}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: json
            }).then((response) => response.text())
                .then((text) => {
                    document.getElementById("carTable").innerHTML = text
                });
        }
    </script>

</head>

<body onload="updateTable('')">
    <p>
        <a href="{{url_for('indexPage')}}">Powrót</a>
    </p>
    <h1>Wyszukiwanie samochodów</h1>
    <br>
    <input oninput="updateTable(this.value)" placeholder="Nazwa samochodu" type="text" />

    <div id="carTable"></div>

</body>

</html>