#extends "base.html"

#block title
Wyszukiwanie samochodów
#endblock

#block head
<script>
    window.addEventListener("load", () => updateTable(""))

    function updateTable(text) {
        console.info(text);
        json = JSON.stringify({ "query": text })
        fetch("{{url_for('carSearchPage')}}", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: json
        }).then((response) => response.text())
            .then((text) => {
                document.getElementById("carTable").innerHTML = text
            });
    }
</script>
#endblock

#block contents
<div class="search-table">
    <div class="table-title">
        <h2>Wyszukiwanie samochodów</h2>
    </div>
    <input oninput="updateTable(this.value)" placeholder="Nazwa samochodu" type="text" />
    <div class="container" id="carTable"></div>
</div>

#endblock