{%extends "baseFormPage.html"%}
{%block title%}Zmiana hasła dla {{session["login"]["username"]}}{%endblock%}

{%block form%}
<form action="{{url_for('changePasswordPage')}}" , method="POST" , enctype="multipart/form-data">
    <table class="loginTable">
        <tbody>
            <tr>
                <td>Hasło:</td>
                <td>
                    <input name="password" maxlength="32" type="password" required />
                </td>
            </tr>
            <tr>
                <td>Nowe hasło:</td>
                <td>
                    <input name="newPassword" maxlength="32" type="password" required />
                </td>
            </tr>
            <tr>
                <td>Powtórz nowe hasło:</td>
                <td>
                    <input name="repNewPassword" maxlength="32" type="password" required />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Zmień hasło</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{%endblock%}