#extends "base.html"
#block title
Strona główna
#endblock

#block contents
<h1>Funkcjonalność</h1>
<ul>
    <li>Logowanie
        <ul>
            <li>Logowanie się na konto</li>
            <li>Logowanie się na konto przez GitHuba</li>
            <li>Powrót do porzedniej strony po zalogowaniu</li>
            <li>Rejestrowanie nowych kont</li>
            <li>Zmiana hasła po zalogowaniu</li>
            <li>Resetowanie hasła z użyciem wiadomości przychodzącej na maila</li>
            <ul>
                <li>Użycie JWT</li>
                <li>JWT wygasają po użyciu (tabela z użytymi tokenami)</li>
            </ul>
            <li>Hashowanie haseł</li>
            <li>Różne uprawnienia użytkowników</li>
            <li>Wyświetlanie informacji o kontach</li>
            <li>Wylogowywanie się</li>
        </ul>
    </li>
    <li>Pasek nawigacyjny</li>
    <li>Wyszukiwanie samochodów z użyciem ajax'a</li>
    <ul>
        <li>Strona informacji o pojeździe</li>
        <li>Rezerwowanie pojazdu</li>
        <li>Generowanie QR z id rezerwacji</li>
        <li>Możliwość zapisu QRa i użycie go przy odbiorze pojazdu <a href="http://127.0.0.1:5000/">Strona</a></li>
    </ul>
    <li>Rozproszenie systemu</li>
    <ul>
        <li>3 serwery: główna strona, obsługa rezerwacji, strona skanu qr</li>
        <li>podział bazy danych</li>
    </ul>
    <li>Wiadomości
        <ul>
            <li>Powiadomienia o nowych wiadomościach</li>
            <li>Lista nowych wiadomości</li>
            <li>Wyświetlanie wiadomości</li>
            <li>Usuwanie wiadomości</li>
            <li>Możliwość wysyłania wiadomości z zawartością</li>
        </ul>
    </li>
    <li>Wyświetlanie listy kont</li>
    <li>Upload plikow png</li>
    <li>Wyświetlanie informacji o błędach wypełniania formularzy</li>
    <li>CSS</li>
</ul>
#endblock