{%extends "base.html"%}
{%block title%}Logowanie{%endblock%}

{%block head%}
<script>
    function sendForm(form) {
        event.preventDefault();

        data = new FormData(form);
        json = JSON.stringify(Object.fromEntries(data));

        fetch("{{url_for('loginPage')}}", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: json
        })
            .then((response) => response.text())
            .then((text) => {
                document.getElementById("msg").style.display = "Block"
                document.getElementById("msg").innerText = text
            });
    }
</script>
{%endblock%}

{%block contents%}
<p><a href="{{url_for('indexPage')}}">Powrót</a></p>
<h1 class="test">Logowanie</h1>
{%set url = url_for('loginPage')%}
<form onsubmit="sendForm(this)" method="POST" enctype="multipart/form-data">
    <table>
        <tbody>
            <tr>
                <td>Login:</td>
                <td>
                    <input name="username" maxlength="32" type="text" required />
                </td>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td>
                    <input name="password" maxlength="32" type="password" required />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Zaloguj</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<p><a href="{{url_for('registerPage')}}">Rejestracja</a></p>
<p id="msg" style="display:none;"></p>
{%endblock%}