{%extends "baseFormPage.html"%}
{%block title%}Logowanie{%endblock%}

{%block preForm%}
<p><a href="{{url_for('indexPage')}}">Powrót</a></p>
<h1>Logowanie</h1>
{%endblock%}
{%block form%}
<form action="{{url_for('loginPage')}}" method="POST" enctype="multipart/form-data">
    <table>
        <tbody>
            <tr>
                <td>Login:</td>
                <td>
                    <input name="username" value="{{username}}" maxlength="32" type="text" required />
                </td>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td>
                    <input name="password" maxlength="32" type="password" required />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Zaloguj</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{%endblock%}
{%block postForm%}
<p><a href="{{url_for('registerPage')}}">Rejestracja</a></p>
{%endblock%}