<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>

    <script>
        window.addEventListener("load", function () {
            form = document.getElementById("loginForm");
            form.addEventListener("submit", function (event) {
                event.preventDefault();
                data = new FormData(form);
                json = JSON.stringify(Object.fromEntries(data));

                fetch("{{url_for('loginPage')}}", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: json
                }).then((response) => response.text())
                    .then((text) => {
                        document.getElementById("loginMsg").style.display = "Block"
                        document.getElementById("loginMsg").innerText = text
                    });
            });
        });
    </script>

</head>

<body>
    <p>
        <a href="{{url_for('indexPage')}}">Powrót</a>
    </p>
    <h1>Logowanie</h1>
    <form id="loginForm" action="" method="post" enctype="multipart/form-data">
        <label>Login</label>
        <input name="username" maxlength="32" type="text" required />
        <label>Hasło</label>
        <input name="password" maxlength="32" type="password" required/>
        <input name="login" value="Zaloguj" type="submit" />
    </form>
    <p>
        <a href="{{url_for('registerPage')}}">Rejestracja</a>
    </p>
    <p id="loginMsg" style="display:none;"></p>
</body>

</html>