#extends "base.html"
#block title
Wiadomość od {{fromName}}
#endblock

#block contents
<div class="email panel">
    <h1>Nowa wiadomość</h1>
    #if msg is defined
    <span class="error-message">{{msg}}</span>
    #endif
    <input readonly class="small-input" type="text" value="{{fromName}}" />
    <input readonly class="small-input" type="text" value="{{subject}}" />
    <textarea readonly class="big-input">{{body}}</textarea>
    <form action="{{url_for('deleteEmail', id=id)}}">
        <button type="submit">Usuń wiadomość</button>
    </form>
</div>
#endblock