#extends "base.html"
#block title
Wiadomość od {{email[2]}}
#endblock

#block contents
<div class="email panel">
    <h1>Nowa wiadomość</h1>
    #if msg is defined
    <span class="error-message">{{msg}}</span>
    #endif
    <input readonly class="small-input" type="text" value="{{email[2]}}" />
    <input readonly class="small-input" type="text" value="{{email[3]}}" />
    <textarea readonly class="big-input">{{email[4]}}</textarea>
    <form action="{{url_for('deleteEmail', id=email[0])}}">
        <button type="submit">Usuń wiadomość</button>
    </form>
</div>
#endblock