<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia samochodów - wyszukiwanie</title>

    <script>
        window.addEventListener("load", function () {
            input = document.getElementById('nameInput');
            updateTable("")

            function updateTable(text) {
                json = JSON.stringify({ "name": text })
                fetch("{{url_for('searchPage')}}", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: json
                }).then((response) => response.text())
                    .then((text) => {
                        v = JSON.parse(text)
                        document.getElementById("carTable").innerHTML = v.response
                    });
            }

            input.addEventListener("input", function (event) {
                updateTable(input.value)
            });
        });
    </script>

</head>

<body>
    <p>
        <a href="{{url_for('indexPage')}}">Powrót</a>
    </p>
    <p id="abc"></p>
    <h1>Wyszukiwanie samochodów</h1>
    <br>
    <input id="nameInput" placeholder="Nazwa samochodu" type="text" />

    <div id="carTable"></div>

</body>

</html>