<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>

<body>
    <p>
        <a href="{{url_for('indexPage')}}">Powrót</a>
    </p>
    <h1>Lista użytkowników</h1>
    <br>
    {% if users|length %}
    <table>
        <tbody>
            {% for row in users %}
            <tr>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nie znaleziono żadnych użytkowników</p>
    {% endif %}
</body>

</html>