<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>

<body>
    <p>
        <a href="{{url_for('indexPage')}}">Powrót</a>
    </p>
    <h1>Lista użytkowników</h1>
    <br>
    {% if users|length %}
    <table>
        <thead>
            <tr>
                <th>Login*</th>
                <th>Hasło</th>
            </tr>
        </thead>
        <tbody>
            {% for row in users %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nie znaleziono żadnych użytkowników</p>
    {% endif %}
</body>

</html>