{%extends "base.html"%}
{%block title%}Lista użytkowników{%endblock%}

{%block contents%}
<p><a href="{{url_for('indexPage')}}">Powrót</a></p>
<h1>Lista użytkowników</h1>
<br>
{% if users|length %}
<div class="searchTable">
    <table>
        <tbody>
            {% for row in users %}
            <tr>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Nie znaleziono żadnych użytkowników</p>
{% endif %}
{%endblock%}